.review-modal, .welcome-modal {
  z-index: 10002;
}

.modal-content {
  max-height: 80vh !important;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10001;
}

.rating-question {
  margin-bottom: 30px;

  .buttons-container {
    width: 100%;
    text-align: center;
  }

  .buttons {
    display: inline-block;
  }

  .rating-button {
    font-weight: 600;
  }

  .rating-button:focus, .rating-button:active {
    outline: none !important;
    box-shadow: none;
 }

  .question-label {
    text-align: center;
    margin-bottom: 10px;
  }

  .side-label {
    display: inline;
    margin: 10px 10px 0 10px;
  }
}

.radio-question {
  margin-bottom: 30px;

  .question-label, .radio-options {
    text-align: center;
  }
}