@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins/breakpoints";

.place-panel {
  z-index: 1000;
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;

  /** Mobile width **/
  margin-left: -47.5%;
  width: 95%;

  /** Desktop width **/
  @include media-breakpoint-up(md) {
    width: 40%;
    margin-left: -20%;
  }
}

.place-header {
  padding: 10px;

  .place-name {
    margin-bottom: 0;
  }

  .place-address {
    margin-bottom: 0;
  }

  .place-icon {
    margin-top: 5px;
    margin-right: 10px;
    float: right
  }
}

.risk-indicator {
  .risk-text {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
}

.place-reviews-list {
  padding-top: 10px;

  .no-reviews {
    text-align: center;
    font-size: 14px;
  }

  .place-review {
    text-align: center;
    margin: 10px 20px;
    padding: 5px;

    border: 1px solid #DCDCDC;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #dcdcdc;

    .review-time {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
    }

    .review-text {
      margin-bottom: 0;
    }
  }
}

.place-ratings-overview {
  .category-button {
    font-size: 12px;
    margin: 2px 0;
    height: 20px;
    padding: 0.1rem 0.1rem;
  }

  .category-buttons {
    border-width: 2px;
    border-color: #E8E8E8;
    border-style: solid;
    border-radius: 10px;
    
    padding-top: 8px;
    padding-bottom: 8px;
  }
}